*{
    box-sizing: border-box;
    list-style: none;;
}

body{
    margin: 0px;
}

header{
    padding: 50px;
    text-align: center;
    background-color: #333;
    padding: 40px;
    border: 4px solid rgb(51, 189, 235);
    border-radius: 6px;
}
nav {
    background-color:#d46b6b;
    overflow: hidden
}

nav a{
    text-decoration: none;
    float: left;
    padding: 10px 70px;
    color:black;
    float: center;
}
section{
    text-align: center;
    margin: 10px;
    padding: 15px;
}
section:nth-child(even){
    background-color: rgb(226, 249, 240);
}
section:nth-child(odd){
    background-color: rgb(236, 233, 229);
}
p{
    margin: 10px 20px;
}
footer {
    background-color:#d46b6b;
    overflow: hidden
}

footer a{
    text-decoration: none;
    float: left;
    padding: 10px 60px;
    color:black;
    float: center;
}
.copyright{
    float: right;
}